<div class="ftbn">
   <div class="layout">
      <ul>
         <li><a href="http://www.rahcb.com/reservation">预约服务&gt;&gt;</a></li>
         <li><a href="http://www.rahcb.com/contact">联系我们&gt;&gt;</a></li>
      </ul>
      <form accept-charset="UTF-8" action="http://www.rahcb.com/emails" class="new_email" data-remote="true" id="new_email" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>      <dl>
         <dt>了解更多照护资讯，学习最新照护知识</dt>
         <dd><input class="mail-ipt" type="text" value="请输入您的Email" name="email[value]"><input class="mail-btn" type="submit" value="订阅"></dd>
      </dl>
</form>   </div>
</div>
<div class="footer">
<div class="layout">
   <div class="foot-left">
      <a class="foot-logo" href="http://www.rahcb.com/#">仁爱华</a>
<!--       <ul>
         <li><a href="http://e.weibo.com/rightathome" target="_blank"><span class="ico-weibo"></span>新浪</a></li>
         <li><a href="http://wpa.qq.com/msgrd?V=1&Uin=1395569330&Site=%C8%CA%90%DB%C8A&Menu=yes/" target="_blank"><span class="ico-qq"></span>QQ</a></li>
      </ul> -->
   </div>
   <div class="foot-info">
      <div class="foot-nav">
       <a href="http://www.rahcb.com/pages/history">关于我们</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/pages/philosophy">使命理念</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/pages/csr">社会责任</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/news">最新动态</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/news?node=media">媒体播报</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/pages/about_cooperate">合作发展</a>
       <!-- <i class="line">|</i> -->
       <!-- <a href="/pages/sitemap">站点地图</a> -->
      </div>
      <ul class="foot-sites">
         <li><a class="usa" href="http://www.rightathome.net/" target="_blank">United States</a></li>
         <li><a class="uk" href="http://www.rightathomeuk.co.uk/" target="_blank">United Kingdom</a></li>
         <li><a class="brazil" href="http://www.rightathome.com.br/" target="_blank">Brazil</a></li>
         <li><a class="canada" href="http://www.rightathomecanada.com/" target="_blank">Canada</a></li>
         <li><a class="ie" href="http://www.rightathome.ie/" target="_blank">Ireland</a></li>
      </ul>
         地址: 北京东城区东中街东环广场A写字楼7F   邮编: 100027<br>
         电话: 86-400-111-1128  &nbsp;  传真: 86-010-64181635 &nbsp;  邮箱：office@rahcb.com
      <div class="copyright">
         Copyright © 1995-2012 北京慈爱嘉养老服务有限公司
         &nbsp;&nbsp;&nbsp;&nbsp;
         京ICP备11015349号
      </div>
   </div>
   <ul class="foot-links">
      <li><a class="shop-link" href="javascript:alert('正在建设中');">仁爱华商城</a></li>
      <li><a class="login-link" href="http://mail.rahcb.com/" target="_blank">邮箱登录</a></li>
      <li><a class="admin-link" href="javascript:alert('正在建设中');">管理系统</a></li>
   </ul>
</div>
</div>