<div class="sidebar">
  <div class="caring">
    <dl>
      <dt>
        <img src="/images/rah/caring_img.png" width="138" height="139" alt="">
      </dt>
      <dd>
        <a class="btn-inquire" href="http://www.rahcb.com/carings">点击查询</a>
      </dd>
    </dl>
  </div>

  <div>
    <a href="http://www.rahcb.com/reservation"><img alt="Work sidebar" src="/images/rah/work_sidebar.png"></a>
  </div>
</div>