<% if Code.at("特色课程") %>
  <%= code("特色课程") %>
<% else %>
	<ul>
		<li><span>孕早期相关文章</span></li>
		<li><span>孕早期相关文章</span></li>
		<li><span>孕早期相关文章</span></li>
	</ul>
  <div class="banner_rigt_gg"><a href="/calendar"><img src="/images/main/bbkt_img.png" width="241" height="63" border="0" /></a></div>
<% end -%>