<!DOCTYPE html>
<html>

<title>仁爱华 - www.rahcb.com</title>
<meta name="description" content="仁爱华是深受美国家庭欢迎的著名品牌和最大的居家护理服务提供商之一，目前在美国、英国、加拿大、中国、巴西、爱尔兰等国家建立了337个特许经营服务网络。2011年，仁愛華护理服务品牌由北京慈爱嘉养老服务有限公司引入中国。现已在北京、上海、浙江、湖北、四川、三亚和长春等地建立服务网络。">
<meta content="authenticity_token" name="csrf-param">
<meta content="xhP27REOf7RdzePFJLCx1+81o5vms3WditcAR4C11XU=" name="csrf-token">
<link rel="shortcut icon" href="http://www.rahcb.com/favicon.ico">
<link href="./仁爱华 - www.rahcb.com_files/common.css" type="text/css" rel="stylesheet">

  <link href="./仁爱华 - www.rahcb.com_files/index.css" type="text/css" rel="stylesheet">

<link href="./仁爱华 - www.rahcb.com_files/custom.css" type="text/css" rel="stylesheet">

<script async="" src="./仁爱华 - www.rahcb.com_files/analytics.js"></script><script src="./仁爱华 - www.rahcb.com_files/jquery.min.js" type="text/javascript"></script>
<script src="./仁爱华 - www.rahcb.com_files/jquery_ujs.js" type="text/javascript"></script>
<script src="./仁爱华 - www.rahcb.com_files/jquery.marquee.js" type="text/javascript"></script>
<script src="./仁爱华 - www.rahcb.com_files/common.js" type="text/javascript"></script>
<script src="./仁爱华 - www.rahcb.com_files/index.js" type="text/javascript"></script>

<!--[if IE 6]>
<script type="text/javascript" src="/js/iepng.js"></script>
<![endif]-->
<script charset="utf-8" src="./仁爱华 - www.rahcb.com_files/v.js"></script><link type="text/css" rel="stylesheet" href="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/style.css"><script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/js/page_context.js"></script></head>

<body screen_capture_injected="true">

<!-- header -->
<div class="topbar" style="position: fixed; top: 0px; left: 0px; z-index: 3000; ">
   <div class="inner">
      <span class="arrow"></span>
      <span class="telnum">如需帮助请致电 400-111-1128</span>
      <ul class="topr">
         <li style="padding-right:0;margin-top:4px;margin-right:4px"><a href="http://www.rahcb.com/pages/weixin" target="_blank"><img src="./仁爱华 - www.rahcb.com_files/icon_weixin.png" alt=""></a></li>
         <li style="padding-right:0;"><a href="http://e.weibo.com/rightathome" target="_blank"><i class="ico-weibo"></i></a></li>
         <li style="padding-right:0;"><a href="http://wpa.qq.com/msgrd?V=1&Uin=1395569330&Site=%C8%CA%90%DB%C8A&Menu=yes/" target="_blank"><i class="ico-qq"></i></a></li>
         <li><a class="lg" href="http://www.rightathome.net/" target="_blank">English</a></li>
      </ul>
   </div>
</div>
<div class="header">
   <div class="inner">
      <h1 class="logo"><a href="./仁爱华 - www.rahcb.com_files/仁爱华 - www.rahcb.com.htm">仁爱华</a></h1>
      <span class="toptxt"></span>
      <div class="topsearch">
        <div class="lg">
          <a href="http://www.rahcb.com/pages/team4">在线应聘</a>
          &nbsp;&nbsp;
          <a href="http://clients.cajcare.com/" target="_blank">客户登录</a>
        </div>
          <form action="http://www.rahcb.com/news">
             <input class="search-ipt" type="text" value="SEARCH" name="q">
             <input class="search-btn" type="submit" value="搜索">
          </form>
      </div>

<ul class="nav">
         <!-- <li><a class="m" href="/">首页</a></li> -->
         <li><a class="m" href="http://www.rahcb.com/services">服务产品</a>
             <div class="submenu">
                <span class="hd"></span>
                <ul>
                   <li><a href="http://www.rahcb.com/services/1">家庭护士</a></li>
                   <li><a href="http://www.rahcb.com/services/2">个人护理</a></li>
                   <li><a href="http://www.rahcb.com/services/3">康复锻炼</a></li>
                   <li><a href="http://www.rahcb.com/services/4">就医服务</a></li>
                   <li><a href="http://www.rahcb.com/services/5">陪伴照护</a></li>
                   <li><a href="http://www.rahcb.com/services/6">特殊护理</a></li>
                   <li><a href="http://www.rahcb.com/services/cases">服务案例</a></li>
                   <li><a href="http://www.rahcb.com/pages/card">礼品卡</a></li>
                </ul>
                <span class="ft"></span>
             </div>
         </li>

         <li><a class="m" href="http://www.rahcb.com/networks">服务网络</a></li>

         <li><a class="m" href="http://www.rahcb.com/pages/team1">服务团队</a>
           <div class="submenu">
              <span class="hd"></span>
              <ul>
                 <li><a href="http://www.rahcb.com/pages/team1">我们的团队</a></li>
                 <li><a href="http://www.rahcb.com/pages/about_service">我们如何工作</a></li>
                 <li><a href="http://www.rahcb.com/pages/team2">职业发展</a></li>
                 <li><a href="http://www.rahcb.com/pages/team3">服务感言</a></li>
                 <li><a href="http://www.rahcb.com/pages/team4">加入我们</a></li>
                 <li><a href="http://www.rahcb.com/pages/team5">志愿者平台</a></li>
              </ul>
              <span class="ft"></span>
           </div>
         </li>
         <li><a class="m" href="http://www.rahcb.com/pages/about_rah">品牌故事</a>
           <div class="submenu">
              <span class="hd"></span>
              <ul>
                <li><a href="http://www.rahcb.com/pages/about_rah">建立与发展</a></li>
                <!-- <li><a href="/pages/cn">建立和发展</a></li> -->
                <li><a href="http://www.rahcb.com/pages/international">全球部署</a></li>
              </ul>
              <span class="ft"></span>
           </div>
         </li>

         <li class="last"><a class="m" href="http://www.rahcb.com/pages/help">资讯与帮助</a>
          <div class="submenu menu-wide">
            <span class="hd"></span>
            <ul>
               <li>
                 <a href="http://www.rahcb.com/infos" class="m2">照护资讯</a>

                 <div class="submenu2 menu-wide">
                   <span class="hd"></span>
                   <ul>
                     <li><a href="http://www.rahcb.com/infos/1">照护新理念</a></li>
                     <li><a href="http://www.rahcb.com/infos/2">居家安全</a></li>
                     <li><a href="http://www.rahcb.com/infos/3">阿尔茨海默氏病系列</a></li>
                     <li><a href="http://www.rahcb.com/infos/4">心理关爱</a></li>
                     <li><a href="http://www.rahcb.com/news?node=global">全球大视野</a></li>
                     <li><a href="http://www.rahcb.com/news?node=tuijian">仁爱华推荐</a></li>
                   </ul>
                   <span class="ft"></span>
                 </div>
               </li>

               <li>
                 <a href="http://www.rahcb.com/#" class="m2">需求评估</a>
                 <div class="submenu2 menu-wide">
                   <span class="hd"></span>
                   <ul>
                     <li><a href="http://www.rahcb.com/pages/help1">注意亲人需求发生变化的征兆</a></li>
                     <li><a href="http://www.rahcb.com/pages/help2">迈向健康家庭的步骤</a></li>
                   </ul>
                   <span class="ft"></span>
                 </div>
               </li>

               <li>
                 <a href="http://www.rahcb.com/pages/test" class="m2">压力测试</a>
                 <div class="submenu2 menu-wide">
                   <span class="hd"></span>
                   <ul>
                      <li><a href="http://www.rahcb.com/pages/test">照顾家人，您是否面临压力？</a></li>
                      <li><a href="http://www.rahcb.com/pages/help3">照护亲人的同时，请关爱自己</a></li>
                   </ul>
                   <span class="ft"></span>
                 </div>
               </li>
               <li><a href="http://www.rahcb.com/carings">照护通讯</a></li>
               <li><a href="http://www.rahcb.com/faq">常见问题</a></li>
            </ul>

            <span class="ft"></span>
          </div>
         </li>
      </ul>
   </div>
</div>
<!-- header end -->

<div class="index-layout">
   <div class="layout-1">
      <!-- 大图轮播 -->
      <div class="focuspic">
        <ul class="slides" style="width: 5320px; position: relative; ">
          <li style="position: absolute; z-index: 1; opacity: 0; "><a class="img-btn-2" href="http://www.rahcb.com/services/cases">案例故事</a><a href="http://www.rahcb.com/services/1"><img src="./仁爱华 - www.rahcb.com_files/slide_2.jpg" width="760" height="480" alt=""></a></li>
             <li style="position: absolute; z-index: 1; opacity: 0; "><a class="img-btn-1" href="http://www.rahcb.com/services/cases">案例故事</a><a href="http://www.rahcb.com/services/2"><img src="./仁爱华 - www.rahcb.com_files/slide_1.jpg" width="760" height="480" alt=""></a></li>
             <li style="position: absolute; z-index: 1; opacity: 0; "><a class="img-btn-3" href="http://www.rahcb.com/services/cases">案例故事</a><a href="http://www.rahcb.com/services/3"><img src="./仁爱华 - www.rahcb.com_files/slide_3.jpg" width="760" height="480" alt=""></a></li>
             <li style="position: absolute; z-index: 9; opacity: 1; "><a class="img-btn-4" href="http://www.rahcb.com/services/cases">案例故事</a><a href="http://www.rahcb.com/services/4"><img src="./仁爱华 - www.rahcb.com_files/slide_5.jpg" width="760" height="480" alt=""></a></li>
             <li style="position: absolute; z-index: 1; opacity: 0; "><a class="img-btn-4" href="http://www.rahcb.com/services/cases">案例故事</a><a href="http://www.rahcb.com/services/6"><img src="./仁爱华 - www.rahcb.com_files/slide_4.jpg" width="760" height="480" alt=""></a></li>
             <li style="position: absolute; z-index: 1; opacity: 0; "><a class="img-btn-6" href="http://www.rahcb.com/services/cases">案例故事</a><a href="http://www.rahcb.com/services/5"><img src="./仁爱华 - www.rahcb.com_files/slide_6.jpg" width="760" height="480" alt=""></a></li>
             <!-- <li><a href="/pages/team1"><img src="img/slide_star.jpg" width="760" height="480" alt="" /></a></li> -->
             <li style="position: absolute; z-index: 1; opacity: 0; "><img src="./仁爱华 - www.rahcb.com_files/slide_7.jpg" width="760" height="480" alt=""></li>
          </ul>
          <ul class="trigger">

             <li class=""><a href="http://www.rahcb.com/services/1"><img src="./仁爱华 - www.rahcb.com_files/slide_small_2.jpg" width="96" height="60" alt=""></a><p>家庭护士</p></li>
             <li class=""><a href="http://www.rahcb.com/services/2"><img src="./仁爱华 - www.rahcb.com_files/slide_small_1.jpg" width="96" height="60" alt=""></a><p>个人护理</p></li>
             <li class=""><a href="http://www.rahcb.com/services/3"><img src="./仁爱华 - www.rahcb.com_files/slide_small_3.jpg" width="96" height="60" alt=""></a><p>康复锻炼</p></li>
             <li class="current"><a href="http://www.rahcb.com/services/4"><img src="./仁爱华 - www.rahcb.com_files/slide_small_5.jpg" width="96" height="60" alt=""></a><p class="line2">专业陪伴<br>轻松就医</p></li>
             <li><a href="http://www.rahcb.com/services/5"><img src="./仁爱华 - www.rahcb.com_files/slide_small_4.jpg" width="96" height="60" alt=""></a><p>陪伴照护</p></li>
             <li><a href="http://www.rahcb.com/services/6"><img src="./仁爱华 - www.rahcb.com_files/slide_small_6.jpg" width="96" height="60" alt=""></a><p>特殊护理</p></li>
             <li class=""><!-- 留空 --></li>
             <li class=""><!-- 留空 --></li>
          </ul>
       </div>
   </div>


   <div class="layout-2">
      <!-- 照护新理念 -->
      <div class="index-article">
         <h2 class="title"><a href="http://www.rahcb.com/infos/1">照护新理念</a></h2>
         <ul>
            <li>
               <h3><a href="http://www.rahcb.com/infos/1/posts/167">您是否在家承担照护亲人的责任？2014年给您的十条建议</a></h3>
               <img src="./仁爱华 - www.rahcb.com_files/t_4677NB.jpg" alt="">
               <p> 如果您和大多数人一样，由于忙着工作和照顾家庭，而过度透支自己；或者您有家庭成员需要亲自护理，是众多家庭照护者中的一员，毫无疑问您肯定感受到了成倍的压力。做一个新年的计划，即使它还列在您的“代办事项清单“上。以下是我们为家庭照护者私人定制的建议，希望这些建议能帮助您及家人在2014年生活得更加欢乐、健康和轻松。<b class="learnmore"><a href="http://www.rahcb.com/infos/1/posts/167">......</a></b></p>
            </li>
            <li>
               <h3><a href="http://www.rahcb.com/infos/1/posts/18">锻炼——治疗关节炎的头号“处方”</a></h3>
               <p>不久前,确诊患有关节炎的老人被告知要采取很容易和“休息关节”的方法进行治疗。但我们现在知道,这一劝告是建立在未完全理解锻炼的重要性——增强了对关节提供保护作用的肌肉及其他组织的功能。摇椅的日子结束了。我们现在知道,运动是控制骨性关节炎, 类风湿关节炎,红斑狼疮和其他形式关节炎的重要方法。锻炼能够减少疼痛、僵硬和日常活动产生的疲劳。它有助于控制其他可能导致关节炎恶化的慢性疾病,比如心脏疾病和糖尿病。<b class="learnmore"><a href="http://www.rahcb.com/infos/1/posts/18">......</a></b></p>
            </li>
         </ul>
      </div>
      <!-- 资讯与帮助 -->
      <div class="services">
         <h2 class="title"><a href="http://www.rahcb.com/pages/help1">注意亲人需求发生变化的征兆</a></h2>
         <div class="cont">
            <p>家人变老的迹象开始时往往很难辨别，但千万不要忽视其征兆，因为细小变化可以非常快地积攒成大问题。如果发现您的亲人出现某些变化，这可能就是需要寻求外界协助的时候：</p>
            <ul>
               <li>与家人和朋友关系方面出现变化</li>
               <li>不大愿意参加社交活动了</li>
               <li>出现以前不常有的行为，如变得容易激动，大声说话或沉默寡言</li>
               <li>出现健忘症状，如忘记吃药等</li>
               <li>出现财务管理不善症状，如忘记付款或乱买东西</li>
               <li>忽视个人护理的迹象，如不讲卫生或忽略营养</li>
            </ul>
         </div>
      </div>
   </div>


   <div class="layout-3">
      <!-- 最新动态 -->
      <div class="index-news">
         <h2 class="title"><a href="http://www.rahcb.com/news">最新动态</a></h2>
         <ul>
              <li><a href="http://www.rahcb.com/news/183">居家照护服务首次纳入保险偿付范畴</a></li>
              <li><a href="http://www.rahcb.com/news/180">“仁爱华之星”脱颖而出</a></li>
              <li><a href="http://www.rahcb.com/news/176">人保局领导送来新春温暖慰问</a></li>
              <li><a href="http://www.rahcb.com/news/168">五谷“暖慰”爱心助残</a></li>
              <li><a href="http://www.rahcb.com/news/175">慈爱嘉再添一所院校培训基地</a></li>
              <li><a href="http://www.rahcb.com/news/165">北京国际老龄产业博览会召开</a></li>
              <li><a href="http://www.rahcb.com/news/162">全国老龄办对海淀南二服务中心进行考察</a></li>
              <li><a href="http://www.rahcb.com/news/163">市人大代表一行参观海淀南二服务中心</a></li>
         </ul>

      </div>
      <div class="mbox">
         <h2 class="title"><a href="http://www.rahcb.com/news?node=global">全球大视野</a></h2>
         <ul>
            <li><em><a href="http://www.rahcb.com/news/44" target="_blank">澳大利亚</a>：</em>历经30年的"联邦居家支持计划"政策方向正逐步发生变化，由原来的政府主导转向消费者个人为主导，所有支持服务的提供，均倾向于以消费者为导向的照护模式。由服务机构对消费者承担更大责任，让老年人实际需求得到满足<b class="learnmore"><a href="http://www.rahcb.com/infos/1/posts/0?slug=global_au" target="_blank">......</a></b></li>
            <li><em><a href="http://www.rahcb.com/news/43" target="_blank">日本</a>：</em>护理保险制度历经15年，居家服务成为主流。国家对机构服务支付费用增加1.5倍，但对居家服务支付费用却增加5.3倍； 目前，政府每月支付在机构服务和支付在居家接受服务的总费用基本一致，但接受护理服务的人数，居家服务却是机构服务的4倍。也就是20％的养老机构费用＝80％居家服务费用<b class="learnmore"><a href="http://www.rahcb.com/infos/1/posts/0?slug=global_jp" target="_blank">......</a></b></li>
         </ul>
      </div>
      <!-- 仁愛華推荐 -->
      <div class="ibox recomend">
         <h2 class="title"><a href="http://www.rahcb.com/news?node=tuijian" target="_blank">仁爱华推荐</a></h2>
         <dl>
            <dt><a href="http://www.rahcb.com/news/13" target="_blank"><img src="./仁爱华 - www.rahcb.com_files/___.png" width="108" alt=""></a></dt>
            <dd>
               <h4><a href="http://www.rahcb.com/news/13" target="_blank"><b style="color:#047E8B;">
                《和老爸在一起的日子》</b></a></h4>
               <p>
                <!-- 【美】简妮丝·斯普林 迈克尔·斯普林 著<br/> -->
                “《和老爸在一起的日子》【美】简妮丝·斯普林迈克尔·斯普林著作品简介：畅销书作家、临床心理医生简妮丝·斯普林和丈夫迈...”</p>
            </dd>
         </dl>
         <dl class="index-caring">
            <dt><a href="http://www.rahcb.com/carings"><img src="./仁爱华 - www.rahcb.com_files/caring.png" width="116" height="135" alt=""></a></dt>
            <dd>
               <p style="color:#a4752b"><em style="color:#a4752b;font-style:italic">Caring</em>照护通讯</p>
               <a class="btn-inquire" href="http://www.rahcb.com/carings">点击查询</a>
            </dd>
         </dl>
      </div>
   </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
   //下拉框
   $("#province").selectbox();
   $("#city").selectbox();
  $('.selectbox').click(function(){
     var dbox=$(this).parent().find('.select-menu')
     if (dbox.height()>250){
       dbox.addClass('menu-scroll')
       }
  })
    $('.survey ul input').Checkable({});
})
//焦点图
new Slide('.focuspic',{index: 7 ,effect:'fade',firstDelay:15});
</script>

<!-- footer -->
<div class="ftbn">
   <div class="layout">
      <ul>
         <li><a href="http://www.rahcb.com/reservation">预约服务&gt;&gt;</a></li>
         <li><a href="http://www.rahcb.com/contact">联系我们&gt;&gt;</a></li>
      </ul>
      <form accept-charset="UTF-8" action="http://www.rahcb.com/emails" class="new_email" data-remote="true" id="new_email" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>      <dl>
         <dt>了解更多照护资讯，学习最新照护知识</dt>
         <dd><input class="mail-ipt" type="text" value="请输入您的Email" name="email[value]"><input class="mail-btn" type="submit" value="订阅"></dd>
      </dl>
</form>   </div>
</div>
<div class="footer">
<div class="layout">
   <div class="foot-left">
      <a class="foot-logo" href="http://www.rahcb.com/#">仁爱华</a>
<!--       <ul>
         <li><a href="http://e.weibo.com/rightathome" target="_blank"><span class="ico-weibo"></span>新浪</a></li>
         <li><a href="http://wpa.qq.com/msgrd?V=1&Uin=1395569330&Site=%C8%CA%90%DB%C8A&Menu=yes/" target="_blank"><span class="ico-qq"></span>QQ</a></li>
      </ul> -->
   </div>
   <div class="foot-info">
      <div class="foot-nav">
       <a href="http://www.rahcb.com/pages/history">关于我们</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/pages/philosophy">使命理念</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/pages/csr">社会责任</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/news">最新动态</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/news?node=media">媒体播报</a>
       <i class="line">|</i>
       <a href="http://www.rahcb.com/pages/about_cooperate">合作发展</a>
       <!-- <i class="line">|</i> -->
       <!-- <a href="/pages/sitemap">站点地图</a> -->
      </div>
      <ul class="foot-sites">
         <li><a class="usa" href="http://www.rightathome.net/" target="_blank">United States</a></li>
         <li><a class="uk" href="http://www.rightathomeuk.co.uk/" target="_blank">United Kingdom</a></li>
         <li><a class="brazil" href="http://www.rightathome.com.br/" target="_blank">Brazil</a></li>
         <li><a class="canada" href="http://www.rightathomecanada.com/" target="_blank">Canada</a></li>
         <li><a class="ie" href="http://www.rightathome.ie/" target="_blank">Ireland</a></li>
      </ul>
         地址: 北京东城区东中街东环广场A写字楼7F   邮编: 100027<br>
         电话: 86-400-111-1128  &nbsp;  传真: 86-010-64181635 &nbsp;  邮箱：office@rahcb.com
      <div class="copyright">
         Copyright © 1995-2012 北京慈爱嘉养老服务有限公司
         &nbsp;&nbsp;&nbsp;&nbsp;
         京ICP备11015349号
      </div>
   </div>
   <ul class="foot-links">
      <li><a class="shop-link" href="javascript:alert('正在建设中');">仁爱华商城</a></li>
      <li><a class="login-link" href="http://mail.rahcb.com/" target="_blank">邮箱登录</a></li>
      <li><a class="admin-link" href="javascript:alert('正在建设中');">管理系统</a></li>
   </ul>
</div>
</div>
<!-- end footer -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40364312-1', 'rahcb.com');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F517fe3cb10c3793a5441b8266fb18bfc' type='text/javascript'%3E%3C/script%3E"));
</script><script src="./仁爱华 - www.rahcb.com_files/h.js" type="text/javascript"></script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F37004aece915962f8da26275e0305b17' type='text/javascript'%3E%3C/script%3E"));
</script><script src="./仁爱华 - www.rahcb.com_files/h(1).js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=37004aece915962f8da26275e0305b17" target="_blank"><img border="0" src="./仁爱华 - www.rahcb.com_files/21.gif" width="20" height="20"></a>

<!-- JiaThis Button BEGIN -->
<!-- <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?uid=1352342133152390&type=left&amp;move=0&amp;btn=l5.gif" charset="utf-8"></script> -->
<!-- JiaThis Button END -->


</body></html>