<p>尊敬的用户 ：</p>
<p>您好！</p>
<p>您已申请修改 <%= @resource.email %> 的密码 ，点击以下链接即可修改：</p>
<p><%= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>(如果您无法点击此链接，请将它复制到浏览器地址栏后访问)</p>
<p></p>
<p></p>
<br>
<p>好孕妈妈团队</p>
